#entete1
{    
	text-align: center;   
	background-image: url('cover1.jpg');
	opacity: 1;
	background-position: center;
	color: rgb(0, 64, 128);
	height: 80%;
	border-radius: 10px;
}
#mini
{    
	padding-top:15%;
	font-family: garamond;
	font-size: 500%;
	color: white;
}

#menu
{    

	font-family: garamond;
	text-align: right; 
	color: rgb(0, 64, 128);
	padding-left: 180px ;
	padding-bottom: 0px;
	font-size: 25px;
	background-color: grey;
}
#mini1
{    
	color: white;
	font-family: garamond;

}
#entete
{    
	text-align: left;

} 
#entete, #photo, #text 
{    
	display: inline-block;    
	vertical-align: top;

} 
#photo
{    
	width: 70%; 
	height: 40%;  
	padding-left: 150px;
} 

#text
{    
	position: absolute;
	color: rgb(0, 64, 128);
	width: 40%;
	padding-left: 5%;
	
}
#img
{    
	 
	width: 3%; 
	height: 3%;
}

footer 
{    
	border-bottom: 3px solid rgb(192, 192, 192);
	border-top: 3px solid rgb(0, 64, 128);
	border-left: 3px solid rgb(0, 64, 128); 
	border-right: 3px solid rgb(0, 64, 128);  
	padding-top: 25px; 
	color: white;
	padding-left: 180px ;
	background-color: rgb(0, 64, 128);
	border-radius: 10px;
} 
	footer p, footer ul 
{    
		font-size: 0.8em; 
} 
	footer h1 
{    
	font-size: 1.1em; 
} 
	footer a
{    
	color: white; 
} 
#mail, #nos_coordonnees, #contacts 
{    
	display: inline-block;    
	vertical-align: top;

} 
#mail 
{    
	width: 28%; 
} 
#nos_coordonnees
{    
	width: 35%; 
} 
#contacts 
{    
	width: 31%; 
} 
#nos_coordonnees img 
{    
	border: 1px solid #181818;    
	margin-right: 2px; 
} 
#contacts ul 
{    display: inline-block;    
	vertical-align: top;    
	margin-top: 0;    
	width: 48%;    
	padding-left: 2px; 
} 
#mes_amis a 
{    
	text-decoration: none;    
	color: #760001; 
}
